################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cone.InventoryManagement/DesignTimeBuild/.dtbcache.v2
